{
	"root": true,
	"ignorePatterns": ["*.min.js"],
	"overrides": [
		{
			"files": ["*.js"],
			"extends": ["eslint:recommended", "prettier"],
			"env": {
				"browser": true
			},
			"parserOptions": {
				"ecmaVersion": "latest"
			}
		},
		{
			"files": ["*.php", "*.html", ".css"],
			"parser": "@angular-eslint/template-parser",
			"plugins": ["tailwindcss"],
			"extends": ["plugin:tailwindcss/recommended"],
			"rules": {},
			"settings": {
				"tailwindcss": {
					"config": "./tailwind.config.js",
					"cssFiles": ["./theme/**/*.css"]
				}
			}
		}
	]
}
